.notes-page{
  background-color: #686D76;
  padding: 1px;
  display: flex;
}

.note-block{
  color: white;
  position: relative;
  background-color: #151515;
  flex: 1;
  width: 65vw;
  overflow: auto;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 4vh ;
  padding: 4vh ;
  margin-bottom: 10vh;
  border-radius: 4vh;
}

.index-list{
  position: sticky;
  top: 0;
  background-color: #151515;
  color: white;
  text-align: center;
  flex: 0 0 15%;
  height: 90vh;
  margin-left: 1vw;
  border-radius: 4vh;
  padding: 1vh;
  margin-top: 4vh;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
}